@import '~antd/dist/antd.css';

.App h1 {
  text-align: center;
}

.App p {
  margin-top: 1rem;
  font-weight: bold;
}

.App span {
  margin: 0px 1rem;
}

.App input {
  max-width: 100px;
}

.App .sub-container {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}

.App .sub-container section{
  border: 1px solid black;
  width: 40%;
  min-height: 300px;
  border-radius: 1rem;
  padding: 1rem;
}

.App .container-button {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}